html,body{
    font-family:"Comic Sans MS", "Comic Sans";
    background-color:#ECF4E8;
}

.card {
    background-color:#CBF3BB;
}
.btn {
    background-color: #98d49f;
    border:#98d49f;
}
.btn:hover {
    background-color: #ABE7B2;
}
/*
body {
  scroll-behavior: smooth;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
ul,ol,dl,p{
    font-size: 1.5rem;
}
li,p{
    line-height: 1.5;
}
ul{
    padding-left: 2rem;
    list-style-type: none;
}
li{
    padding-left: 2rem;
}
ol{
    list-style-type: numeric;
}
dd, dt{
    line-height: 1.2;
}
dt{
    font-weight: bold;
}
body{
    background-color: grey;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}
*/

.wrap {
    width: 100%;
    overflow: hidden;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}
.container-style{
    border-radius: 1em;
    border: 2px solid black;
    padding: 1em;
    margin-bottom: 3em;
}
