html,body{
    font-family:"Comic Sans MS", "Comic Sans";
    background-color:#ECF4E8;
    color:#5b8389;
}

.card {
    background-color:#CBF3BB;
}
.btn {
    background-color: #98d49f;
    border:#98d49f;
}
.btn:hover {
    background-color: #ABE7B2;
    transform: translateY(1px);
}

.wrap {
    width: 100%;
    overflow: hidden;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 1lem;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}
.container-style{
    border-radius: 1em;
    border: 2px solid black;
    padding: 1em;
    margin-bottom: 3em;
    border-radius: 1lem;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
* {
  transition: all 0.2s ease-in-out;
}